<head>
    <meta charset="UTF-8" lang="<%= langCookieValue %>" 
    dir=  "<%= (langCookieValue === 'en') ? 'ltr' : 'rtl' %>"
    >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Artint Studio – Expert in Design, Content Creation, Brand Strategy, and Identity">
    <meta name="keywords" content="digital agency, design, content creation, brand strategy, identity">
    <meta name="author" content="Artint Studio">

    <!-- Open Graph Meta Tags (for social media) -->
    <meta property="og:title" content="Artint Studio ">
    <meta property="og:description" content="Expert in Design, Content Creation, Brand Strategy, Brand Identity and more .... info@artintstudio.com">
    <meta property="og:image" content="URL to your logo or featured image">
    <meta property="og:url" content="https://artintstudio.com/">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    <meta name="twitter:title" content="Artint Studio">
    <meta name="twitter:description" content="Artint Studio , Experts in Design, Content Creation, Brand Strategy, Brand Identity and more .... info@artintstudio.com" >
    <meta name="twitter:image" content="/images/logo-w.png">
    <!-- Favicon -->
    <title>Artint | <%= title %></title>
    <% if (langCookieValue === 'en') { %>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    <% } else { %>
        <link rel="stylesheet" href="/css/styleRTL.css">
        <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
    <% } %>
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link href="/ico/favicon.png" rel="shortcut icon">
</head>