<div class="preloader">
    <div class="inner">
        <div class="loader">
            <div class="trackbar">
                <div class="loadbar"></div>
            </div>
        </div>

        <div class="holder"> <span class="typewriter" id="typewriter"></span> </div>

    </div>

</div>

<div class="transition-overlay">
    <div class="green-layer"></div>
    <div class="black-layer"></div>
</div>