<!DOCTYPE html>
<html lang="ar" dir="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/adminstyles.min.css" rel="stylesheet" />
    <link href="/ico/favicon.png" rel="shortcut icon">
    <title>Artint | Admin LogIn</title>
</head>

<style>
body{
    background-color : #000;
}
</style>
<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="/" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="/images/logo-b.png" width="180" alt="">
                </a>
                <p class="text-center">Admin Login</p>
                <form method="post" action="/auth/login" id="loginform">
                  <div class="mb-3">
                    <label for="InputEmail1" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp"
                    required>
                  </div>
                  <div class="mb-4">
                    <label for="InputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="InputPassword1">
                  </div>
                 
                  <button  type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</button>
                  
                </form>
                <% if (messages.error) { %>
                    <p class="text-danger text-center"><%= messages.error %></p> 
                   <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <%- include("./partials/scripts.ejs") %>
    
 
</body>

</html