<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="/ico/favicon.png" rel="shortcut icon">
    <title>Artint | Admin LogIn</title>
</head>

<style>
    body{
        background: url(images/slide03.jpg)
            
    }
    
</style>
<body>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="auth-box on-sidebar p-4 bg-white m-auto w-50  ">
            <div id="loginform">
                <div class="logo text-center">
                    <span class="db"><img src="images/logo-b.png" alt="logo"  style="height: 100px; width: 150px;" /><br />
                </span>
                </div>
                <!-- Form -->
                <div class="row">
                    <div class="col-12">
                        <form class="form-horizontal mt-3 form-material"
                        method="POST"
                        id="loginform" action="/auth/login">
                            <div class="form-group mb-3">
                                <div class="col-xs-12">
                                    <input class="form-control"
                                    name="email"
                                    type="text" required="" placeholder="الايميل" />
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" 
                                        name="password" 
                                    required=""
                                        placeholder="كلمة السر" />
                                </div>
                            </div>
                            
                            <div class="form-group text-center my-3">
                                <div class="col-xs-12">
                                    <button class="
                        btn btn-info
                        d-block
                        w-100
                        waves-effect waves-light
                      " type="submit">
                                        دخول
                                    </button>
                                </div>
                            </div>
                        
                        </form>

                        <% if (messages.error) { %>
                           <p class="text-danger text-center"><%= messages.error %></p> 
                          <% } %>
                    </div>
                </div>
            </div>
            
        </div>
    </div>


    <%- include("./partials/scripts.ejs") %>
    
 
</body>

</html