<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found !</title>

    <link rel="shortcut icon" href="/ico/favicon.png" type="image/x-icon">
</head>

<style>
    body {
        text-align: center;
        text-transform: capitalize;
        font-family: Helvetica, sans-serif;

    }
    img {
        width: 40%;
    }
    h1 {
        font-size: 30px;
        font-weight: 800;
    }
    a {
    height: 58px;
    line-height: 54px;
    display: inline-block;
    border: 2px solid #000;
    color: #000;
    font-weight: 600;
    font-size: 12px;
    padding: 0 50px; 
    margin-top: 20px ;
    margin-right: auto ;
    margin-left: auto
}

  a:hover {
      background: #000;
      color: #fff;
      text-decoration: none; 
  
  }
</style>
<body>


    <img src="/images/error404.png" alt="404">
    <% if (langCookieValue === 'en') { %>
    <h1>Page Not Found ... </h1>
    <a href="/">Back Home </a>
    <% } else { %>
        <h1>الصفحة المطلوبة غير موجودة </h1>
        <a href="/">الرئيسية</a>
        <% } %>
</body>
</html>