<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="Artint Studio" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Artint |  <%= title %>
    </title>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon.png" />
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/custome.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<style>
    *{
        direction: rtl !important;
    }
    body{
        background-color: #f5f5f5;
        font-family: 'Noto Sans Arabic', sans-serif;
        
    }
</style>